.task-details-enter {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.task-details-enter-active {
    opacity: 1;
    max-height: 500px;
    transition:
        opacity 300ms,
        max-height 300ms;
}

.task-details-exit {
    opacity: 1;
    max-height: 500px;
    overflow: hidden;
}

.task-details-exit-active {
    opacity: 0;
    max-height: 0;
    transition:
        opacity 300ms,
        max-height 300ms;
}

.context-menu-enter {
    opacity: 0;
}

.context-menu-enter-active {
    opacity: 1;
    transition: opacity 100ms ease-in-out;
}

.context-menu-exit {
    opacity: 1;
}

.context-menu-exit-active {
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}
