@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-custom::-webkit-scrollbar {
    width: 4px;
}
.scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #94A3B8;
    width: 4px;
    border-radius: 6px;
}
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #64748B;
}

.dark .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #334155;
    width: 4px;
    border-radius: 6px;
}
.dark .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #475569;
}

@layer components {
    h3 {
        font-size: 1.2rem !important;
    }

    button:not([role='combobox']) {
        border: none;
        border-radius: 0 !important;
    }

    .bg-card {
        border: none;
        border-radius: 0 !important;
    }

    .task-item-content .task-item-button {
        @apply px-2.5
    }
}

@layer utilities {
    div[role='dialog'] {
        border: none;
        border-radius: 16px;
        padding: 32px;
    }

    .dark div[role='dialog'] {
        border-radius: 16px;
        padding: 32px;
        border: 1px solid #334155;
    }

    .prose h1 {
        font-size: 1.4rem;
    }

    .prose h2 {
        font-size: 1.3rem;
    }

    .prose h3 {
        font-size: 1.0rem;
    }

    .prose h1, .prose h2, .prose h3, .prose h4 {
        @apply mt-4;
        @apply mb-2;
    }

    .prose p {
        @apply my-0;
        font-size: 0.9rem;
    }
    .prose ul {
        @apply my-1;
        font-size: 0.9rem;
    }

    .prose li {
        @apply py-0 my-0;
    }

    .prose code {
        background: rgba(0, 0, 0, 0.2);
        font-weight: unset;
        padding: 2px 2px 1px;
    }

    .dark .prose code {
        background: rgba(0, 0, 0, 0.35);
    }

    .prose pre {
        background: rgba(0, 0, 0, 0.5);
        @apply my-2;
    }

    .dark .prose pre {
        background: rgba(0, 0, 0, 0.5);
        @apply my-2;
    }

    .prose pre code {
        background: transparent;
    }

    .dark .prose pre code {
        background: transparent;
    }

    .prose code::before, .prose code::after {
        display: none;
    }
}
